<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<main>
    <div class="jumbotron">
        <h1>IA Browser</h1>
        <p>Welcome to Register ITSX Smart Browser</p>
    </div>
</main>

    <div class="card border-secondary">
      <div class="card-header">Nuevo objeto de aprendizaje</div>
      <div class="card-body">
        <form action="/create" method="post">
          <div class="mb-3">
            <label for="archivo" class="form-label">Archivo</label>
            <input type="text" id="archivo" name="archivo" tabindex="1">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="archivo" name="nombre" tabindex="2">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" id="archivo" name="descripcion" tabindex="3">
          </div>
          <div class="mb-3">
            <label for="granularidad" class="form-label">Granularidad</label>
            <input type="text" id="archivo" name="granularidad" tabindex="4">
          </div>
          <div class="mb-3">
            <label for="topico1" class="form-label">Tópico 1</label>
            <input type="text" id="archivo" name="topico1" tabindex="5">
          </div>
          <div class="mb-3">
            <label for="topico2" class="form-label">Tópico 2</label>
            <input type="text" id="archivo" name="topico2" tabindex="6">
          </div>
          <div class="mb-3">
            <label for="topico3" class="form-label">Tópico 3</label>
            <input type="text" id="archivo" name="topico3" tabindex="7">
          </div>
          <button type="submit" class="btn btn-primary" tabindex="8">Guardar</button>
          <a href="/views/pages/principal.ejs" class="btn btn-secondary">Cancelar</a>
          <script>
            var archivo, nombre, descripción, granularidad, topico1, topico2, topico3;
            archivo = document.getElementById('archivo');
            nombre = document.getElementById('nombre');
            descripción = document.getElementById('descripcion');
            granularidad = document.getElementById('granularidad');
            topico1 = document.getElementById('topico1');
            topico2 = document.getElementById('topico2');
            topico3 = document.getElementById('topico3');
          </script>
        </form>
      </div>
    </div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>
