<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<main>
    <div class="jumbotron text-bg-dark">
        <h1>Base de conocimiento</h1>
        <p>Crear un nuevo nodo o una nueva relaci&oacute;n en la base de conocimiento</p>
    </div>
</main>

    <div class="card border-secondary">
      <div class="card-header">Nuevo nodo</div>
      <div class="card-body">
        <form action="/create" method="post">

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="archivo" name="nombre" tabindex="2">
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripci&oacute;n</label>
            <input type="text" id="archivo" name="descripcion" tabindex="3">
          </div>

          <button type="submit" class="btn btn-primary" tabindex="8">Guardar</button>
          <a href="/views/pages/principal.ejs" class="btn btn-secondary">Cancelar</a>

          <script>
            var nombre, descripcion;
            nombre = document.getElementById('nombre');
            descripcion = document.getElementById('descripcion');
          </script>
        </form>
      </div>
    </div>
    <br>
    <div class="card border-secondary">
      <div class="card-header">Nueva relaci&oacute;n</div>
      <div class="card-body">
        <form action="/relacion" method="post">
          <div class="mb-3">
            <label for="nombre1" class="form-label">Nombre del primer nodo</label>
            <input type="text" id="nombre1" name="nombre1" tabindex="1">
          </div>
    
          <div class="mb-3">
            <label for="nombre2" class="form-label">Nombre del segundo nodo</label>
            <input type="text" id="nombre2" name="nombre2" tabindex="2">
          </div>
    
          <button type="submit" class="btn btn-primary" tabindex="8">Crear relaci&oacute;n</button>
          <a href="/views/pages/principal.ejs" class="btn btn-secondary">Cancelar</a>
    
          <script>
            var nombre1, nombre2;
            nombre1 = document.getElementById('nombre1');
            nombre2 = document.getElementById('nombre2');
          </script>
        </form>
      </div>
      </div>
    </div>
  <footer>
      <%- include('../partials/footer'); %>
  </footer>
</body>
</html>
