<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<main>
    <div class="jumbotron">
        <h1>IA Browser</h1>
        <p>Welcome to Register ITSX Smart Browser</p>
    </div>
</main>

    <div class="card border-secondary">
      <div class="card-header">Nuevo nodo</div>
      <div class="card-body">
        <form action="/create" method="post">

          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" id="archivo" name="tipo" tabindex="1">
          </div>

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="archivo" name="nombre" tabindex="2">
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripci&oacute;n</label>
            <input type="text" id="archivo" name="descripcion" tabindex="3">
          </div>

          <button type="submit" class="btn btn-primary" tabindex="8">Guardar</button>
          <a href="/views/pages/principal.ejs" class="btn btn-secondary">Cancelar</a>

          <script>
            var tipo, nombre, descripcion;
            tipo = document.getElementById('tipo');
            nombre = document.getElementById('nombre');
            descripcion = document.getElementById('descripcion');
          </script>
        </form>
      </div>
    </div>
  <footer>
      <%- include('../partials/footer'); %>
  </footer>
</body>
</html>
