<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>  
        <div class="jumbotron">
            <h1>Base de conocimiento</h1>
            <p>Bienvenido a la base de conocimiento sobre la producci&oacute;n de sidra de manzana</p>
        </div>
    </main>
    <div class="barra">
        <div class="logo_content">
            <div class="logo">
                <i class="fas fa-quidditch"></i>
                <div class="logo_name">Apartados:</div>
            </div>
            <i class="fas fa-bars" id="btn"></i>
        </div>
        <ul class="nav_list">
       <!--Crear nodo--> 
            <li>
                <a href="/views/pages/create.ejs">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span class="links_name">Nuevo nodo</span>
                </a>
                <span class="tooltip"></span>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span class="links_name">Nueva relaci&oacute;n</span>
                </a>
            </li>    
        </ul>
        <i class="fas fa-sign-out-alt" id="log_out"></i>
    </div>

    <div class="home_content">
        <div class="text">Contenido</div>
    </div>
    <script>
        let btn = document.querySelector("#btn");
        let barra = document.querySelector(".barra");
        let buscarbtn = document.querySelector(".fa-search");

        btn.onclick = function(){
            barra.classList.toggle("active");
        }

        buscarbtn.onclick = function(){
            barra.classList.toggle("active");
        }
    </script>
    <!--buscador-->
    <form action="/buscar" method="get">
        <div>
            <i class="fas fa-search"></i>
            <!--<input type="text" id="buscador" name="buscador" placeholder="Buscar...">-->
            <span class="tooltip">Buscar</span>
            <button type="submit" class="btn btn-primary" tabindex="8">Buscar</button>
        </div> 
    </form>
    <script>
        var buscador
        buscador = document.getElementById('buscador');
    </script>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>